<tr>
  <td>
    {{input type="text" class="form-control" value=athleteName disabled=notInEditMode focus-out='saveAthlete'}}
  </td>
  <td>
    <div class="input-group">
      {{input type="text" class="form-control" value=athleteWeight disabled=notInEditMode focus-out='saveAthlete'}}
      <span class="input-group-addon">kG</span>
    </div>
  </td>
  <td>
    {{#if inEditMode}}
      <button class="btn btn-warning" {{action 'deleteAthlete'}}>
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    {{/if}}
  </td>
</tr>