<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group" role="group" aria-label="First group">
    {{#each days as |day|}}
      {{#link-to 'data-entry-interface.day' day.id class="btn btn-default"}}
        {{day.number}}
        {{#if inEditMode}}
          <span class="glyphicon glyphicon-remove" {{action 'deleteDay' day}}></span>
        {{/if}}
      {{/link-to}}
    {{/each}}
  </div>
  {{#if inEditMode}}
    <div class="btn-group" role="group" aria-label="Third group">
      <button type="button" class="btn btn-default" {{action 'addNewDay'}}>
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  {{/if}}
</div>