<tr>
  <th>
    {{record.athlete.name}}
  </th>
  <td>
    {{input type="text" class="form-control" disabled=notInDataEntryMode value=primaryResultValue
            focus-out='save'}}
  </td>
  {{#if isSplitEvent}}
    <td>
      {{input type="text" class="form-control" disabled=notInDataEntryMode value=secondaryResultValue
              focus-out='save'}}
    </td>
  {{/if}}
  <td>
    {{input type="text" class="form-control" disabled=true value=recordPoints focus-out='save'}}
  </td>
</tr>