<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="panel-title">
      Events for day #
      <button class="btn btn-default pull-right" {{action 'toggleEditMode'}}>
        <span class="glyphicon {{if inEditMode 'glyphicon-floppy-disk' 'glyphicon-pencil'}}"></span>
      </button>
    </div>
  </div>
  <div class="panel-body">
    <!-- New event sub-panel -->
    {{#if inEditMode}}
      {{event-panel-new}}
    {{/if}}
    <!-- Event sub-panels -->
    <!-- TODO: try heading changing to inline forms -->
  </div>
</div>