<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading clearfix">
    <!-- Using a float with the button is a bit of a hack but works well enough responsively -->
    <div class="panel-title">
      Competition Information
      <button class="btn btn-default pull-right">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </div>
  </div>
  <!--<div class="panel-body">-->
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Weight</th>
        <th>Points</th>
        <th>Placing</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Eddie</td>
        <td>120</td>
        <td>#</td>
        <th>1st</th>
      </tr>
      <tr>
        <td>James</td>
        <td>120</td>
        <td>#</td>
        <th>2rd</th>
      </tr>
      <tr>
        <td>Bob</td>
        <td>120</td>
        <td>#</td>
        <th>3rd</th>
      </tr>
      </tbody>
    </table>
  <!--</div>-->
</div>