<div class="container">
  <div class="panel panel-default">
    <!--<div class="panel-heading row">
      <div class="col-lg-4">
        <div class=" input-group">
          <span class="input-group-addon" id="basic-addon3">Event name</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
      </div>
      <div class="col-lg-2">
        Event type1
      </div>
      <div class="col-lg-offset-4 col-lg-2">
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-floppy-disk"></span>
        </button>
      </div>
    </div>-->
    <div class="panel-heading">
      <div class="panel-heading clearfix">
        <!-- Using a float with the button is a bit of a hack but works well enough responsively -->
        <div class="panel-title">
          Competition Information
          <button class="btn btn-default pull-right"  {{action 'toggleEditMode'}}>
            <span class="glyphicon {{if inEditMode 'glyphicon-floppy-disk' 'glyphicon-pencil'}}"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      {{#if inEditMode}}
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-lg-6">
                <div class=" input-group">
                  <span class="input-group-addon" id="basic-addon3">new competition name</span>
                  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
              </div>
              <div class="col-lg-2">
                Competition name
              </div>
              <div class="col-lg-offset-2 col-lg-2">
                <button class="btn btn-default">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
      <div class="panel panel-default">
        <table class="table table-hover">
          <tbody>
          {{#each competitions as |competition|}}
            {{competition-list-interface-row inEditMode=inEditMode competitionStartDate='15/11/1998'
            competitionEndDate='18/03/2018' competitionName='test' competitionID=1}}
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>