<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading clearfix">
    <h4 class="panel-title">
      Competition Information
      <button class="btn btn-default pull-right">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </h4>
  </div>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Name</li>
    <li class="list-group-item">Days</li>
    <li class="list-group-item">Referee</li>
    <li class="list-group-item">Scorer</li>
  </ul>
</div>