<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Competition Information</div>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Name</li>
    <li class="list-group-item">Days</li>
    <li class="list-group-item">Referee</li>
    <li class="list-group-item">Scorer</li>
  </ul>
</div>