<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      {{competition-information-panel}}
    </div>
    <div class="col-lg-7">
      {{event-information-panel}}
    </div>
    <div class="col-lg-3">
      {{scoreboard-information-panel}}
    </div>
  </div>
</div>