<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      {{partial 'competition-information-panel'}}
    </div>
    <div class="col-lg-7">
      {{partial 'event-information-panel'}}
    </div>
    <div class="col-lg-3">
      {{partial 'scoreboard-information-panel'}}
    </div>
  </div>
</div>