<div class="container-fluid">
  <button {{action 'setupDatabase' model.competition}} class='btn btn-success'>Setup Database</button>
  <div class="row">
    <div class="col-lg-4">
      <div class="col-lg-12">
        <!-- TODO: Check this is a valid way to pass values to a component 06/04/2018 -->
        {{competition-information-panel competition=model.competition}}
      </div>
      <div class="col-lg-12">
        {{scoreboard-information-panel}}
      </div>
    </div>
    <div class="col-lg-8">
      {{event-information-panel days=model.days}}
    </div>
  </div>
</div>