<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="panel-title">
      Events for day #
      <button class="btn btn-default pull-right">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </div>
  </div>
  <div class="panel-body">
    <!--<div class="panel panel-default">
      <div class="panel-heading clearfix">
        New event for day #
        <button class="btn btn-success pull-right">
          <span class="glyphicon glyphicon-floppy-disk"></span>
        </button>
      </div>
    </div>-->
    <!-- New event sub-panel -->
    <div class="panel panel-default container-fluid">
      <div class="panel-heading row">
        <div class="col-lg-4">
          <div class=" input-group">
            <span class="input-group-addon" id="basic-addon3">Event name</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
        </div>
        <div class="col-lg-offset-6 col-lg-2">
          <button class="btn btn-default">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button class="btn btn-warning">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
    </div>
    <!-- Event sub-panels -->
    <div class="panel panel-default container-fluid">
      <div class="panel-heading row">
        <div class="col-lg-4">
          <div class=" input-group">
            <span class="input-group-addon" id="basic-addon3">Event name</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
        </div>
        <div class="col-lg-2">
          Fastest repetitions
        </div>
        <div class="col-lg-offset-4 col-lg-2">
          <button class="btn btn-default">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button class="btn btn-warning">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="panel panel-default container-fluid">
      <div class="panel-heading row">
        <div class="col-lg-4">
          <div class=" input-group">
            <span class="input-group-addon" id="basic-addon3">Event name</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
        </div>
        <div class="col-lg-2">
          Fastest repetitions
        </div>
        <div class="col-lg-offset-4 col-lg-2">
          <button class="btn btn-default">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button class="btn btn-warning">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>