<div class="container-fluid">
  <table class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
      <td>Athlete</td>
      <td>Event name points</td>
      <td>Event name points</td>
      <td>Event name points</td>
      <td>Total points for day #</td>
      <td>Positions for day #</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Eddie</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>7</td>
      <td>1st tied</td>
    </tr>
    <tr>
      <td>Bob</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>7</td>
      <td>1st tied</td>
    </tr>
    <tr>
      <td>James</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>5</td>
      <td>2nd</td>
    </tr>
    </tbody>
  </table>
</div>